# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Generated
packages/database/generated
packages/database/generated/client/
packages/database/.env
*.db
*.db-journal

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Prisma migrations
# Uncomment next line if you want to version migrations
# !packages/database/prisma/migrations/

# Trigger.dev
.trigger/
.trigger-dev/
