# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.*
!.env.example

# trigger.dev
.trigger/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
.vscode/
.idea/
